body {
	background: rgb(93, 152, 73);
	background: linear-gradient(
		90deg,
		rgba(93, 152, 73, 1) 0%,
		rgba(211, 232, 240, 1) 0%,
		rgba(230, 235, 238, 1) 46%,
		rgba(186, 243, 255, 1) 100%
	);
}


.heading {
	width: 90%;
	display: flex;
	flex-wrap: wrap-reverse;
	margin: 0 auto;
	justify-content: space-between;
}
.heading .headingText {
	width: 50%;
	margin-top: 100px;
	min-width: 300px;
}
.heading .headingText h1 {
    font-size: 50px;
    font-weight: 500;
    
}
.heading .headingText h2 {   
    font-weight: 300;
    
}
.heading .headingText button {
	width: 120px;
	padding: 15px;
	border: none;
	border-radius: 10px;
	background-color: rgb(22, 85, 136);
	color: white;
	display: block;
	cursor: pointer;
	margin-top: 20px;
	font-size: large;
}
.heading .headingText button:hover {
	background-color: rgb(49, 102, 144);
}
.heading img {
	width: 50%;
	min-width: 300px;
}

@media (max-width: 768px) {
   
	.landingPageNavBarMobile {
		display: flex;
		position: fixed;
		justify-content: space-between;
		width: 95%;
		margin: 0 auto;
	}
	.landingPageNavBarMobile i {
		font-size: 40px;
		margin: 10px;
	}
	.landingPageNavBarMobile button {
		border: 2px solid rgb(48, 129, 195);
		border-radius: 10px;
		width: 90px;
		max-height: 40px;
		background-color: transparent;
		color: rgb(13, 96, 165);
		font-weight: bold;
		cursor: pointer;
		outline: none;
		margin-top: 15px;
	}
	.landingPageNavBarMobile button:hover {
		background-color: rgb(49, 102, 144);
		color: white;
		border: none;
	}
	.landingPageNavBarMobile ul {
		display: none;
		position: absolute;
		list-style: none;
		margin: 50px 20px;
		height: 100vh;
	}
	.landingPageNavBarMobile ul li {
		margin: 50px 20px;
	}
	.landingPageNavBar {
		display: none;
	}
	.navBarItemContainer {
		position: relative;
		width: 50%;
		height: 100vh;
	}
	.heading img {
        margin: 0 auto;
		margin-top: 150px;
    }
    .heading .headingText {
        
        margin: 0 auto;
    }
    .heading .headingText button {
        margin: 20px auto;
        font-size: medium;
    }
}
